<html>

<head>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <%- include('navbar', {links:links})%>
    <h2>
      <%= title %>
    </h2>
    <form action="/" method="get">
      <label for="types">Search by type</label>
      <select name="types" id="types">
        <option value=""></option>
        <option value="aberration">aberration</option>
        <option value="beast">Beast</option>
        <option value="celestial">Celestial</option>
        <option value="construct">Construct</option>
        <option value="dragon">Dragon</option>
        <option value="elemental">Elemental</option>
        <option value="fey">fey</option>
        <option value="fiend">Fiend</option>
        <option value="giant">Giant</option>
        <option value="humanoid">Humanoid</option>
        <option value="monstrosity">Monstrosity</option>
        <option value="ooze">Ooze</option>
        <option value="plant">Plant</option>
        <option value="undead">Undead</option>
      </select>
      <button type="submit">Search</button>
    </form>
    <ul class="monsters-container">
      <% monsters.forEach(monster=> {%>
        <li>
          <a href="/<%= monster.name %>/get">
            <%= monster.name %>
          </a>
        </li>
        <%})%>
    </ul>
</body>

</html>