<div class="navbar-container">
  <h1>Dungeon Flow</h1>
  <div class="nav-links">
    <% for (const link of links) {%>
      <a href="<%=link.href%>">
        <span>
          <%=link.text%>
        </span>
      </a>
      <%}%>
  </div>

</div>